Watch-Thing-2.0/Watch-Thing-2.0.xcodeproj/project.pbxproj
Watch-Thing-2.0/Watch-Thing-2.0/Info.plist
Watch-Thing-2.0/Watch-Thing-2.0Tests/Info.plist
Watch-Thing-2.0/Watch-Thing-2.0.xcodeproj/project.xcworkspace/xcuserdata/artroomemergency.xcuserdatad/

Watch-Thing-2.0/Watch-Thing-2.0.xcodeproj/xcuserdata/artroomemergency.xcuserdatad/

